* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  position: relative;
}
.header {
  margin: 50px;
  height: 100px;
}
.header span {
  font-size: 20px;
}
.productlist {
  margin: 0 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  background-color: #ecf0f1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  width: 400px;
  height: 400px;
}
.product p {
  font-size: 20px;
}
img {
  width: 200px;
  height: auto;
  margin: 10px;
}
.process {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.process button {
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
}
.process button:hover {
  color: #ecf0f1;
  background-color: #000;
}
.process span {
  width: 25%;
  border: 1px solid #000;
}
.basket {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 500px;
  height: 500px;
  display: none;
  background-color: #ffff;
  border: 1px solid black;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.basket div {
  margin: 10px;
}
.closeBasket {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.basketproduct {
  display: flex;
  justify-content: space-evenly;
}
.basket-icon {
  position: absolute;
  top: 0;
  right: 5%;
  width: 50px;
  height: auto;
  cursor: pointer;
}
.basket-no {
  color: #000;
  position: absolute;
  font-size: 20px;
  top: 40px;
  background-color: #fff;
  border-radius: 50%;
  right: 5%;
}
@media screen and (max-width: 376px) {
  .basket {
    top: 100px;
    left: 20px;
    width: 300px;
    height: auto;
  }
}
